<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: headFragment}">
    <meta charset="UTF-8">
    <title>All Farms</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body>
<!-- create navigation bar (header) -->
<nav th:replace="~{fragments/head :: mainNavFragment}" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="submit" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/home/homePage}">Home</a>
            <a class="navbar-brand" href="#" th:href="@{/farm/allFarms}">Farms</a>
            <a class="navbar-brand" href="#" th:href="@{/register/registrationForm}">Register</a>
            <a class="navbar-brand" href="#" th:href="@{/register/login}">Log in</a>
        </div>
    </div>
</nav>
<br>
<br>


<!--table-->
<div class="container">
    <div th:if="${not #lists.isEmpty(allFarms)}">
        <h2>Farms</h2>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Availability</th>
                <th>Image URL</th>
            </tr>
            <tr th:each="farm : ${allFarms}">
                <td th:text="${farm.name}"></td>
                <td th:text="${farm.description}"></td>
                <td th:if="${farm.available}">Available</td>
                <td th:unless="${farm.available}">Not Available</td>

                <td></td>
            </tr>
        </table>
    </div>
</div>


<footer th:replace="~{fragments/footer :: footerFragment}">Made by Adam Warkoczewski</footer>
</body>

</html>
