<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headFragment}">
    <meta charset="UTF-8">
    <title>Booking Page</title>
</head>
<body>
<nav th:insert="~{fragments/head :: mainNavFragment}"></nav><br><br>
<h1>Booking</h1>
<!--/*@thymesVar id="userDTO" type="com.warkoczewski.AgroAdventureBooking.dto.BookingDTO"*/-->
<form th:action="@{/booking/bookingPage}" method="post" th:object="${bookingDTO}">
    <div class="form-group">
        <label class="control-label" for="check_in"
        >Check in</label><input id="check_in" class="form-control" type="date" th:field="*{check_in}" required autofocus="autofocus"/>
        <span th:if="${#fields.hasErrors('check_in')}" th:errors="*{check_in}">Incorrect check_in date</span>
    </div>

    <div class="control-label" for="check_out">
        <label>Check out</label><input id="check_out" class="form-control" type="date" th:field="*{check_out}" required autofocus="autofocus"/>
        <span th:if="${#fields.hasErrors()}" th:errors="*{check_out}">Incorrect check_out date</span>
    </div>

    <div class="form-group">
        <label class="control-label" for="farmName"
        >Farm Name</label><input id="farmName" class="form-control" type="text" th:field="*{farmName}" required autofocus="autofocus"/>
        <span th:if="${#fields.hasErrors()}" th:errors="*{farmName}">Incorrect farm name</span>
    </div>
    <div class="control-label" for="email">
        <label>User email</label>
        <input id="email" class="form-control" type="email" th:field="*{userEmail}" required autofocus="autofocus"/>
        <span th:if="${#fields.hasErrors()}" th:errors="*{userEmail}">Incorrect user email</span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Book</button>
        <span>Back To Farm Searching <a href="/" th:href="@{/farm/searchFarms}">Search Farms</a></span>
    </div>
</form>
<footer th:insert="~{fragments/footer :: footerFragment}"></footer>
</body>
</html>
