<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headFragment}">
    <meta charset="UTF-8">
    <title>Booking Not Possible</title>
    <link th:rel="stylesheet" th:href="@{/assets/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "/>
</head>
<body>
<nav th:insert="~{fragments/head :: mainNavFragment}"></nav><br><br>
<h1> I am sorry, booking not possible</h1>
<footer th:insert="~{fragments/footer :: footerFragment}"></footer>
</body>
</html>
